*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    width:100vw;
    height:100vh;

    overflow:hidden;

    background:
    radial-gradient(
        circle,
        #243447,
        #050505
    );

    font-family:
    Arial,
    Helvetica,
    sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

}



#gameWrapper{

    position:relative;

    width:1200px;
    height:700px;

    border-radius:20px;

    overflow:hidden;


    box-shadow:

    0 0 30px black,
    0 0 80px rgba(0,150,255,.25);

}



#game{

    display:block;

    background:#18351b;

    cursor:none;

}





/* TOP HUD */

#hud{

    position:absolute;

    top:15px;
    left:50%;

    transform:translateX(-50%);


    width:850px;


    display:flex;

    justify-content:space-between;

    align-items:center;


    padding:12px 25px;


    background:

    rgba(0,0,0,.75);


    border:

    2px solid rgba(255,255,255,.3);


    border-radius:18px;


    color:white;


    font-size:28px;

    font-weight:bold;


    backdrop-filter:blur(8px);

}



#title{

    font-size:24px;

    letter-spacing:3px;

}



.team{

    padding:8px 20px;

    border-radius:12px;

}



.blue{

    color:#33aaff;

    text-shadow:
    0 0 15px #008cff;

}



.red{

    color:#ff4444;

    text-shadow:
    0 0 15px red;

}





/* CONTROLS */

#controls{

    position:absolute;


    bottom:20px;
    left:20px;


    color:white;


    background:

    rgba(0,0,0,.75);


    padding:15px 20px;


    border-radius:12px;


    border-left:

    5px solid #00aaff;


    line-height:25px;


    font-size:16px;


}





/* WIN MESSAGE */

#message{


    position:absolute;


    top:50%;
    left:50%;


    transform:

    translate(-50%,-50%);


    display:none;


    color:white;


    font-size:70px;


    font-weight:900;


    text-shadow:

    0 0 30px black;


}





@media(max-width:1250px){


    #gameWrapper{

        transform:scale(.8);

    }

}


@media(max-width:1000px){


    #gameWrapper{

        transform:scale(.6);

    }

}
